span.copytoclip {
  content: url('/icons/copytoclipboard.svg');
  display: inline-block;
  height: 52px;
  width: 52px;
}

textarea.terminal {
    background-color: #000;
    border: 1px solid #000;
    color: #00ff00;
    padding: 8px;
    font-family: courier new;
}
